.App-header {
    text-align: center;
    font-style: normal;
    color: rgb(209, 227, 250);
  }

.header {
    position: relative;
    text-align: center;
    width: 100%;
}

.tabs tabs-transparent {
  width: 100%;
}

.wrapper {
  position: center;
  max-width: 100%;
}
